#main {
    background-color:rgb(199, 199, 199);
   text-align:center;
   padding:20px;
   font-family: Helvetica, sans-serif;
 }
 
 
 
 #title {
   padding:20px;
 }
   #name {
     font-size:50px;
     padding: 10px;
     margin:auto;
   }
 
 #img-div {
   background-color:white;
   margin:auto 20px;
   padding: auto 10px;
 
 }

 #image {
  max-width:100%;
  display: block;
  margin-left:auto;
  margin-right:auto;
 }
   #img-caption {
   padding:10px;
   font-size:14px;
   }  
   
   
 #list {
   text-align:left;
   width:500px;
   margin:0 auto;
 }
 
 #tribute-info {
   font-weight:bold;
 }
 
 li {
   padding: 10px;
 }